TRITON_SERVER=https://tritonserver

# NATS Server 설정
NATS_SERVER=wss://username:password@nats.shotai.us/ws:443

# FastAPI 서버 설정
API_HOST=localhost
API_PORT=8000
# MySQL 설정
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=shotai
# 로깅 레벨
LOG_LEVEL=INFO
